.portfolio-wrapper {
  position: relative;
  max-height: 80vh;
  padding: 60px 30px 0px 80px;
  overflow-y: auto;

  @media (min-width: 481px) {
    padding: 60px 30px 0px 80px;
  }

  @media (min-width: 769px) {
    padding: 50px 200px 100px 100px;
    max-height: 100vh;
  }
}

.portfolio {
  display: grid;
  grid-gap: 20px;
  /* start with a single-column layout */
  grid-template-columns: repeat(1, 1fr);
  position: relative;
}

/* For tablets and small desktop screens */
@media (min-width: 481px) {
  .portfolio {
    /* Use a 2-column layout on larger screens */
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For larger desktop screens */
@media (min-width: 769px) {
  .portfolio {
    /* Use a 3-column layout on even larger screens */
    grid-template-columns: repeat(3, 1fr);
  }
}
